<div class="random-jokes">
    <div class="container">
      <h3 class="">Random jokes</h3>
      <div class="row center">
        <div class="input-field col s12 m6">
          <input id="last_name" type="text" class="validate" #inp [value]="i">
          <label for="last_name">Number of jokes</label>
          <a class="waves-effect waves-light btn" (click)="refresh(inp.value)">refresh</a>
        </div>           
      </div>      
    
      <div class="collection">
        <p class="collection-item"
          *ngFor="let randJoke of randJokes"
        >{{randJoke?.joke}}</p>        
      </div>

      <h3>Jokes categories</h3>
      <label *ngFor="let category of categories">
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>{{category}}</span>
      </label>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Select all</span>
      </label>
        
    
    </div>
</div>

