<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Cool jokes</h1>
        <div class="row center">
          <h5 class="header col s12 light">Chuck Norris approved</h5>
        </div>
        <div class="row center">
          <a routerLink="/random-jokes" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Random</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/images/bg-1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">sentiment_very_satisfied</i></h2>
            <h5 class="center">Some fact</h5>

            <p class="light">Chuck Norris once bet NASA he could survive re-entry without a spacesuit. On July 19th, 1999, a naked Chuck Norris re-entered the earth's atmosphere, streaking over 14 states and reaching a temperature of 3000 degrees. An embarrassed NASA publicly claimed it was a meteor, and still owes him a beer.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">directions_walk</i></h2>
            <h5 class="center">Some fact</h5>

            <p class="light">Chuck Norris discovered a new theory of relativity involving multiple universes in which Chuck Norris is even more badass than in this one. When it was discovered by Albert Einstein and made public, Chuck Norris roundhouse-kicked him in the face. We know Albert Einstein today as Stephen Hawking.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">child_friendly</i></h2>
            <h5 class="center">Some fact</h5>

            <p class="light">Chuck Norris was the fourth wise man, who gave baby Jesus the gift of beard, which he carried with him until he died. The other three wise men were enraged by the preference that Jesus showed to Chuck's gift, and arranged to have him written out of the bible. All three died soon after of mysterious roundhouse-kick related injuries.</p>
          </div>
        </div>
      </div>

    </div>
  </div>